src/server/data/dwh.wsdl

<?xml version='1.0' encoding='UTF-8'?><definitions targetNamespace="http://sdmx.service.contourcomponents.com" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:generic="http://www.SDMX.org/resources/SDMXML/schemas/v2_0/generic" xmlns:impl="http://sdmx.service.contourcomponents.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://sdmx.service.contourcomponents.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<wsdl:documentation>
    Provides DWH SDMX Service implementation
  </wsdl:documentation>
  <types>
<schema elementFormDefault="qualified" targetNamespace="http://sdmx.service.contourcomponents.com" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:generic="http://www.SDMX.org/resources/SDMXML/schemas/v2_0/generic" xmlns:impl="http://sdmx.service.contourcomponents.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://sdmx.service.contourcomponents.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://www.SDMX.org/resources/SDMXML/schemas/v2_0/generic" schemaLocation="http://isurvey.contourbi.ru/service//services/sdmxservice?xsd=SDMXGenericData.xsd" />
            <!-- UNIVERSAL TYPES -->
            <complexType name="EmptyType" />
            <complexType name="SuccessResponse">
                <sequence>
                    <element name="success" type="xsd:boolean" />
                </sequence>
            </complexType>
            <complexType name="ModelRequest">
                <sequence>
                    <element name="modelCode" type="xsd:string" />
                </sequence>
            </complexType>
            <complexType name="XMLStringResponse">
                <sequence>
                    <element name="xmlResponse" type="xsd:string" />
                </sequence>
            </complexType>
            <complexType name="MessageResponse">
                <sequence>
                    <element name="success" type="xsd:boolean" />
                    <element name="message" type="xsd:string" />
                </sequence>
            </complexType>
            <!-- Get metadata elements -->
            <element name="getModelList" type="impl:EmptyType" />
            <complexType name="ModelDescriptionRequest">
                <sequence>
                    <element name="modelCode" type="xsd:string" />
                </sequence>
            </complexType>
            <element name="getModelDescription" type="impl:ModelDescriptionRequest" />
            <element name="getAdminModelDescription" type="impl:ModelDescriptionRequest" />
            <complexType name="ModelDescriptionResponse">
                <sequence>
                    <element name="descriptionXml" type="xsd:string" />
                </sequence>
            </complexType>
            <element name="getModelDescriptionResponse" type="impl:ModelDescriptionResponse" />
            <complexType name="ListRequest">
                <sequence>
                    <element name="modelCode" type="xsd:string" />
                    <element name="objectType" type="xsd:string" />
                </sequence>
            </complexType>
            <element name="getList" type="impl:ListRequest" />
            <complexType name="ListResponse">
                <sequence>
                    <element name="listXml" type="xsd:string" />
                </sequence>
            </complexType>
            <element name="getListResponse" type="impl:ListResponse" />
            <complexType name="ObjectRequest">
                <sequence>
                    <element name="modelCode" type="xsd:string" />
                    <element name="objectType" type="xsd:string" />
                    <element name="objectCode" type="xsd:string" />
                    <element name="withDependencies" nillable="true" type="xsd:boolean" />
                </sequence>
            </complexType>
            <complexType name="GrantRequest">
                <sequence>
                    <element name="modelCode" type="xsd:string" />
                    <element name="objectType" nillable="true" type="xsd:string" />
                    <element name="objectCode" nillable="true" type="xsd:string" />
                </sequence>
            </complexType>
            <element name="getObject" type="impl:ObjectRequest" />
            <complexType name="ObjectResponse">
                <sequence>
                    <element name="modelXml" type="xsd:string" />
                </sequence>
            </complexType>
            <element name="getObjectResponse" type="impl:ObjectResponse" />
            <complexType name="ClassifierNodeRequest">
                <sequence>
                    <element name="modelCode" type="xsd:string" />
                    <element name="objectType" nillable="true" type="xsd:string" />
                    <element name="classifierCode" type="xsd:string" />
                    <element name="level" type="xsd:int" />
                    <element name="nodeCode" nillable="true" type="xsd:string" />
                </sequence>
            </complexType>
            <element name="getClassifierNodeList" type="impl:ClassifierNodeRequest" />
            <element name="getClassifierParentNode" type="impl:ClassifierNodeRequest" />
            <complexType name="ClassifierFullNodeRequest">
                <sequence>
                    <element name="modelCode" type="xsd:string" />
                    <element name="objectType" nillable="true" type="xsd:string" />
                    <element name="classifierCode" type="xsd:string" />
                    <element name="level" type="xsd:int" />
                    <element name="nodeCode" nillable="true" type="xsd:string" />
                    <element name="others" nillable="true" type="xsd:boolean" />
                    <element name="actualDate" nillable="true" type="xsd:string" />
                    <element name="conditions" nillable="true" type="impl:ArrayOfQueryCondition" />
                    <element name="pageNumber" nillable="true" type="xsd:long" />
                    <element name="pageSize" nillable="true" type="xsd:long" />
                </sequence>
            </complexType>
            <element name="getClassifierFullNodeList" type="impl:ClassifierFullNodeRequest" />
            <complexType name="ClassifierNodeRequestWithAssociations">
                <sequence>
                    <element name="modelCode" type="xsd:string" />
                    <element name="objectType" nillable="true" type="xsd:string" />
                    <element name="classifierCode" type="xsd:string" />
                    <element name="level" type="xsd:int" />
                    <element name="nodeCode" nillable="true" type="xsd:string" />
                    <element name="associatorCode" nillable="true" type="xsd:string" />
                    <element name="conditions" nillable="true" type="impl:ArrayOfQueryCondition" />
                    <element name="pageNumber" nillable="true" type="xsd:long" />
                    <element name="pageSize" nillable="true" type="xsd:long" />
                </sequence>
            </complexType>
            <element name="getClassifierNodeListWithAssociations" type="impl:ClassifierNodeRequestWithAssociations" />
            <element name="getClassifierFullNodeListWithAssociations" type="impl:ClassifierNodeRequestWithAssociations" />
            <complexType name="ClassifierRequest">
                <sequence>
                    <element name="modelCode" type="xsd:string" />
                    <element name="classifierCode" type="xsd:string" />
                </sequence>
            </complexType>
            <element name="getClassifierLevelCount" type="impl:ClassifierRequest" />
            <complexType name="AssociatorListRequest">
                <sequence>
                    <element name="modelCode" type="xsd:string" />
                    <element name="leftClassifierCode" type="xsd:string" />
                    <element name="rightClassifierCode" type="xsd:string" />
                </sequence>
            </complexType>
            <element name="getAssociatorList" type="impl:AssociatorListRequest" />
            <complexType name="ClassifierListForReferenceRequest">
                <sequence>
                    <element name="modelCode" type="xsd:string" />
                    <element name="referenceCode" type="xsd:string" />
                </sequence>
            </complexType>
            <element name="getClassifierListForReference" type="impl:ClassifierListForReferenceRequest" />
            <!-- Set metadata elements -->
            <complexType name="CreateModelRequest">
                <sequence>
                    <element name="modelCode" type="xsd:string" />
                    <element name="modelCaption" type="xsd:string" />
                </sequence>
            </complexType>
            <element name="createModel" type="impl:CreateModelRequest" />
            <complexType name="DeleteModelRequest">
                <sequence>
                    <element name="modelCode" type="xsd:string" />
                </sequence>
            </complexType>
            <element name="deleteModel" type="impl:DeleteModelRequest" />
            <complexType name="UpdateObjectRequest">
                <sequence>
                    <element name="modelCode" type="xsd:string" />
                    <element name="objectType" type="xsd:string" />
                    <element name="objectCode" type="xsd:string" />
                    <element name="userCode" nillable="true" type="xsd:string" />
                    <element name="content" type="xsd:string" />
                </sequence>
            </complexType>
            <element name="updateObject" type="impl:UpdateObjectRequest" />
            <complexType name="CreateObjectRequest">
                <sequence>
                    <element name="modelCode" type="xsd:string" />
                    <element name="objectType" type="xsd:string" />
                    <element name="objectCode" type="xsd:string" />
                    <element name="userCode" nillable="true" type="xsd:string" />
                    <element name="parentFolder" nillable="true" type="xsd:long" />
                    <element name="content" type="xsd:string" />
                </sequence>
            </complexType>
            <complexType name="CreateObjectResponse">
                <sequence>
                    <element name="id" type="xsd:long" />
                </sequence>
            </complexType>
            <element name="createObject" type="impl:CreateObjectRequest" />
            <element name="createObjectResponse" type="impl:CreateObjectResponse" />
            <complexType name="DeleteObjectRequest">
                <sequence>
                    <element name="modelCode" type="xsd:string" />
                    <element name="objectType" type="xsd:string" />
                    <element name="objectCode" type="xsd:string" />
                    <element name="userCode" nillable="true" type="xsd:string" />
                </sequence>
            </complexType>
            <element name="deleteObject" type="impl:DeleteObjectRequest" />
            <complexType name="CreateAssociatorRequest">
                <sequence>
                    <element name="modelCode" type="xsd:string" />
                    <element name="code" type="xsd:string" />
                    <element name="caption" type="xsd:string" />
                    <element name="table" type="xsd:string" />
                    <element name="leftClassifierCode" type="xsd:string" />
                    <element name="rightClassifierCode" type="xsd:string" />
                </sequence>
            </complexType>
            <element name="createAssociator" type="impl:CreateAssociatorRequest" />
            <!-- Import & export elements -->
            <complexType name="ImportModelRequest">
                <sequence>
                    <element name="modelXml" type="xsd:string" />
                </sequence>
            </complexType>
            <element name="importModel" type="impl:ImportModelRequest" />
            <complexType name="ImportModelResponse">
                <sequence>
                    <element name="modelCode" type="xsd:string" />
                </sequence>
            </complexType>
            <element name="importModelResponse" type="impl:ImportModelResponse" />
            <element name="exportModel" type="impl:ModelRequest" />
            <complexType name="ExportModelResponse">
                <sequence>
                    <element name="modelXml" type="xsd:string" />
                </sequence>
            </complexType>
            <element name="exportModelResponse" type="impl:ExportModelResponse" />
            <!-- Get data elements -->
            <complexType name="QueryRequest">
                <sequence>
                    <element name="modelCode" nillable="true" type="xsd:string" />
                    <element name="objectType" type="xsd:string" />
                    <element name="objectCode" type="xsd:string" />
                    <element name="associatorAttribute" nillable="true" type="xsd:string" />
                    <element name="associatorParentCode" nillable="true" type="xsd:string" />
                    <element name="conditions" nillable="true" type="impl:ArrayOfQueryCondition" />
                    <element name="pivot" nillable="true" type="impl:PivotCondition" />
                    <element name="forOperation" nillable="true" type="xsd:string" />
                    <element name="pageNumber" type="xsd:long" />
                    <element name="pageSize" type="xsd:long" />
                </sequence>
            </complexType>
            <element name="query" type="impl:QueryRequest" />
            <complexType name="QueryResponse">
                <sequence>
                    <element name="DataSet" nillable="true" type="generic:DataSetType" />
                    <element name="pageCount" type="xsd:long" />
                    <element name="timestamp" nillable="true" type="xsd:dateTime" />
                </sequence>
            </complexType>
            <element name="queryResponse" type="impl:QueryResponse" />
            <complexType name="RowCountRequest">
                <sequence>
                    <element name="modelCode" nillable="true" type="xsd:string" />
                    <element name="objectType" type="xsd:string" />
                    <element name="objectCode" type="xsd:string" />
                    <element name="associatorAttribute" nillable="true" type="xsd:string" />
                    <element name="associatorParentCode" nillable="true" type="xsd:string" />
                    <element name="forOperation" nillable="true" type="xsd:string" />
                    <element name="conditions" nillable="true" type="impl:ArrayOfQueryCondition" />
                </sequence>
            </complexType>
            <element name="getRowCount" type="impl:RowCountRequest" />
            <complexType name="UpdateDateRequest">
                <sequence>
                    <element name="modelCode" nillable="true" type="xsd:string" />
                    <element name="objectType" type="xsd:string" />
                    <element name="objectCode" type="xsd:string" />
                    <element name="period" nillable="true" type="xsd:dateTime" />
                    <element name="dataProvider" nillable="true" type="xsd:string" />
                    <element name="viewpoint" nillable="true" type="xsd:dateTime" />
                    <element name="version" nillable="true" type="xsd:string" />
                </sequence>
            </complexType>
            <element name="getUpdateDate" type="impl:UpdateDateRequest" />
            <complexType name="UpdateDateResponse">
                <sequence>
                    <element name="updDate" nillable="true" type="xsd:dateTime" />
                    <element name="maxPeriod" nillable="true" type="xsd:dateTime" />
                    <element name="minPeriod" nillable="true" type="xsd:dateTime" />
                </sequence>
            </complexType>
            <element name="getUpdateDateResponse" type="impl:UpdateDateResponse" />
            <complexType name="SelectRowRequest">
                <sequence>
                    <element name="modelCode" type="xsd:string" />
                    <element name="objectType" type="xsd:string" />
                    <element name="objectCode" type="xsd:string" />
                    <element name="rowId" type="xsd:long" />
                </sequence>
            </complexType>
            <element name="selectRow" type="impl:SelectRowRequest" />
            <complexType name="SelectRowResponse">
                <sequence>
                    <element name="rowData" type="generic:ObsType" />
                </sequence>
            </complexType>
            <element name="selectRowResponse" type="impl:SelectRowResponse" />
            <!-- get grants element -->
            <complexType name="operationGrantsRequest">
                <sequence>
                    <element name="modelCode" type="xsd:string" />
                    <element name="objectType" type="xsd:string" />
                    <element name="login" type="xsd:string" />
                    <element name="operation" type="xsd:string" />
                </sequence>
            </complexType>
            <element name="operationGrants" type="impl:operationGrantsRequest" />
            <complexType name="operationGrantsResponse">
                <sequence>
                    <element name="hasGrant" type="xsd:boolean" />
                </sequence>
            </complexType>
            <element name="operationGrantsResponse" type="impl:operationGrantsResponse" />
            <complexType name="objectGrantsRequest">
                <sequence>
                    <element name="modelCode" type="xsd:string" />
                    <element name="objectType" type="xsd:string" />
                    <element name="objectCode" type="xsd:string" />
                    <element name="login" type="xsd:string" />
                    <element name="operation" type="xsd:string" />
                </sequence>
            </complexType>
            <element name="objectGrants" type="impl:objectGrantsRequest" />
            <complexType name="objectGrantsResponse">
                <sequence>
                    <element name="hasGrant" type="xsd:boolean" />
                </sequence>
            </complexType>
            <element name="objectGrantsResponse" type="impl:objectGrantsResponse" />
            <!-- Set data elements -->
            <complexType name="LoadDataRequest">
                <sequence>
                    <element name="modelCode" nillable="true" type="xsd:string" />
                    <element name="objectType" type="xsd:string" />
                    <element name="objectCode" type="xsd:string" />
                    <element name="resume" type="xsd:boolean" />
                    <element name="associatorAttribute" nillable="true" type="xsd:string" />
                    <element name="associatorParentCode" nillable="true" type="xsd:string" />
                    <element name="loadContext" type="generic:ObsType" />
                    <element name="data" type="impl:ArrayOfObsType" />
                </sequence>
            </complexType>
            <element name="loadData" type="impl:LoadDataRequest" />
            <complexType name="InsertRowRequest">
                <sequence>
                    <element name="modelCode" type="xsd:string" />
                    <element name="objectType" type="xsd:string" />
                    <element name="objectCode" type="xsd:string" />
                    <element name="rowData" type="generic:ObsType" />
                </sequence>
            </complexType>
            <element name="insertRow" type="impl:InsertRowRequest" />
            <complexType name="InsertRowResponse">
                <sequence>
                    <element name="rowId" type="xsd:long" />
                </sequence>
            </complexType>
            <element name="insertRowResponse" type="impl:InsertRowResponse" />
            <complexType name="UpdateRowRequest">
                <sequence>
                    <element name="modelCode" type="xsd:string" />
                    <element name="objectType" type="xsd:string" />
                    <element name="objectCode" type="xsd:string" />
                    <element name="rowId" type="xsd:long" />
                    <element name="rowData" type="generic:ObsType" />
                </sequence>
            </complexType>
            <element name="updateRow" type="impl:UpdateRowRequest" />
            <complexType name="UpdateDataRequest">
                <sequence>
                    <element name="modelCode" type="xsd:string" />
                    <element name="objectType" type="xsd:string" />
                    <element name="objectCode" type="xsd:string" />
                    <element name="conditions" type="impl:ArrayOfQueryCondition" />
                    <element name="rowData" type="generic:ObsType" />
                </sequence>
            </complexType>
            <element name="updateData" type="impl:UpdateDataRequest" />
            <complexType name="DeleteRowRequest">
                <sequence>
                    <element name="modelCode" type="xsd:string" />
                    <element name="objectType" type="xsd:string" />
                    <element name="objectCode" type="xsd:string" />
                    <element name="rowId" type="xsd:long" />
                </sequence>
            </complexType>
            <element name="deleteRow" type="impl:DeleteRowRequest" />
            <complexType name="DeleteDataRequest">
                <sequence>
                    <element name="modelCode" type="xsd:string" />
                    <element name="objectType" type="xsd:string" />
                    <element name="objectCode" type="xsd:string" />
                    <element name="conditions" type="impl:ArrayOfQueryCondition" />
                    <element name="associatorAttribute" nillable="true" type="xsd:string" />
                    <element name="associatorParentCode" nillable="true" type="xsd:string" />
                    <element name="data" nillable="true" type="impl:ArrayOfObsType" />
                </sequence>
            </complexType>
            <element name="deleteData" type="impl:DeleteDataRequest" />
            <complexType name="AddChildClassifierNodeRequest">
                <sequence>
                    <element name="modelCode" type="xsd:string" />
                    <element name="objectType" nillable="true" type="xsd:string" />
                    <element name="classifierCode" type="xsd:string" />
                    <element name="level" type="xsd:int" />
                    <element name="nodeCode" type="xsd:string" />
                    <element name="childCode" type="xsd:string" />
                    <element name="childValue" type="xsd:string" />
                    <element name="attributes" nillable="true" type="generic:ObsType" />
                </sequence>
            </complexType>
            <element name="addChildClassifierNode" type="impl:AddChildClassifierNodeRequest" />
            <complexType name="UpdateClassifierNodeRequest">
                <sequence>
                    <element name="modelCode" type="xsd:string" />
                    <element name="objectType" nillable="true" type="xsd:string" />
                    <element name="classifierCode" type="xsd:string" />
                    <element name="level" type="xsd:int" />
                    <element name="currentCode" type="xsd:string" />
                    <element name="newCode" type="xsd:string" />
                    <element name="newValue" type="xsd:string" />
                    <element name="attributes" nillable="true" type="generic:ObsType" />
                </sequence>
            </complexType>
            <element name="updateClassifierNode" type="impl:UpdateClassifierNodeRequest" />
            <!-- File transfer types and elements -->
            <complexType name="File">
                <sequence>
                    <element name="name" type="xsd:string" />
                    <element name="description" type="xsd:string" />
                    <element name="data" type="xsd:base64Binary" xmime:expectedContentTypes="application/octet-stream" />
                </sequence>
            </complexType>
            <complexType name="FileInfo">
                <sequence>
                    <element name="name" type="xsd:string" />
                    <element name="description" type="xsd:string" />
                </sequence>
            </complexType>
            <complexType name="FileData">
                <sequence>
                    <element name="data" type="xsd:base64Binary" xmime:expectedContentTypes="application/octet-stream" />
                </sequence>
            </complexType>
            <complexType name="FileCode">
                <sequence>
                    <element name="code" type="xsd:string" />
                </sequence>
            </complexType>
            <element name="putFile" type="impl:File" />
            <element name="putFileResponse" type="impl:FileCode" />
            <element name="removeFile" type="impl:FileCode" />
            <element name="getFileInfo" type="impl:FileCode" />
            <element name="getFileInfoResponse" type="impl:FileInfo" />
            <element name="getFileData" type="impl:FileCode" />
            <element name="getFileDataResponse" type="impl:FileData" />
            <!-- Common types and elements -->
            <complexType name="ArrayOfString">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:string" />
                </sequence>
            </complexType>
            <complexType name="QueryCondition">
                <sequence>
                    <element name="fieldCode" nillable="true" type="xsd:string" />
                    <element name="nativeSql" nillable="true" type="xsd:string" />
                    <element name="operator" nillable="true" type="xsd:string" />
                    <element name="parameters" nillable="true" type="impl:ArrayOfString" />
                </sequence>
            </complexType>
            <complexType name="ArrayOfQueryCondition">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="item" type="impl:QueryCondition" />
                </sequence>
            </complexType>
            <complexType name="PivotCondition">
                <sequence>
                    <element name="valueField" nillable="false" type="xsd:string" />
                    <element name="pivotField" nillable="false" type="xsd:string" />
                    <element name="pivotBase" nillable="false" type="xsd:string" />
                    <element name="pivotValues" nillable="false" type="impl:ArrayOfString" />
                </sequence>
            </complexType>
            <complexType name="ArrayOfObsType">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="item" type="generic:ObsType" />
                </sequence>
            </complexType>
            <complexType name="Object">
                <sequence>
                    <element name="type" nillable="true" type="xsd:string" />
                    <element name="code" nillable="true" type="xsd:string" />
                </sequence>
            </complexType>
            <complexType name="ArrayOfObject">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="object" type="impl:Object" />
                </sequence>
            </complexType>
            <element name="empty" type="impl:EmptyType" />
            <complexType name="Count">
                <sequence>
                    <element name="count" type="xsd:long" />
                </sequence>
            </complexType>
            <element name="getCountResponse" type="impl:Count" />
            <complexType name="ItemResponse">
                <sequence>
                    <element name="item" nillable="true" type="xsd:string" />
                </sequence>
            </complexType>
            <element name="getItemResponse" type="impl:ItemResponse" />
            <complexType name="PutEventRequest">
                <sequence>
                    <element name="rowData" type="generic:ObsType" />
                </sequence>
            </complexType>
            <element name="putEvent" type="impl:PutEventRequest" />
            <complexType name="PutEventResponse">
                <sequence>
                    <element name="success" type="xsd:boolean" />
                </sequence>
            </complexType>
            <element name="putEventResponse" type="impl:PutEventResponse" />
            <complexType name="InsertClassifierLevelRequest">
                <sequence>
                    <element name="rowData" type="generic:ObsType" />
                </sequence>
            </complexType>
            <element name="insertClassifierLevel" type="impl:InsertClassifierLevelRequest" />
            <complexType name="InsertClassifierLevelResponse">
                <sequence>
                    <element name="success" type="xsd:boolean" />
                </sequence>
            </complexType>
            <element name="insertClassifierLevelResponse" type="impl:InsertClassifierLevelResponse" />
            <complexType name="AddClassifierAssociationRequest">
                <sequence>
                    <element name="rowData" type="generic:ObsType" />
                </sequence>
            </complexType>
            <element name="addClassifierAssociation" type="impl:AddClassifierAssociationRequest" />
            <complexType name="AddClassifierAssociationResponse">
                <sequence>
                    <element name="success" type="xsd:boolean" />
                </sequence>
            </complexType>
            <element name="addClassifierAssociationResponse" type="impl:AddClassifierAssociationResponse" />
            <complexType name="DeleteClassifierAssociationRequest">
                <sequence>
                    <element name="rowData" type="generic:ObsType" />
                </sequence>
            </complexType>
            <element name="deleteClassifierAssociation" type="impl:DeleteClassifierAssociationRequest" />
            <complexType name="DeleteClassifierAssociationResponse">
                <sequence>
                    <element name="success" type="xsd:boolean" />
                </sequence>
            </complexType>
            <element name="deleteClassifierAssociationResponse" type="impl:DeleteClassifierAssociationResponse" />
            <complexType name="UpdateClassifierAssociationRequest">
                <sequence>
                    <element name="rowData" type="generic:ObsType" />
                </sequence>
            </complexType>
            <element name="updateClassifierAssociation" type="impl:UpdateClassifierAssociationRequest" />
            <complexType name="UpdateClassifierAssociationResponse">
                <sequence>
                    <element name="success" type="xsd:boolean" />
                </sequence>
            </complexType>
            <element name="updateClassifierAssociationResponse" type="impl:UpdateClassifierAssociationResponse" />
            <complexType name="ClassifierPeriodsRequest">
                <sequence>
                    <element name="modelCode" type="xsd:string" />
                    <element name="classifierCode" type="xsd:string" />
                </sequence>
            </complexType>
            <element name="getClassifierPeriods" type="impl:ClassifierPeriodsRequest" />
            <complexType name="ClassifierPeriodsResponse">
                <sequence>
                    <element name="listXml" type="xsd:string" />
                </sequence>
            </complexType>
            <element name="getClassifierPeriodsResponse" type="impl:ClassifierPeriodsResponse" />
            <complexType name="CallXMLProcessorRequest">
                <sequence>
                    <element name="command" type="xsd:string" />
                    <element name="filename" type="xsd:string" />
                </sequence>
            </complexType>
            <element name="callXMLProcessor" type="impl:CallXMLProcessorRequest" />
            <complexType name="CallXMLProcessorResponse">
                <sequence>
                    <element name="processorResponse" type="xsd:string" />
                </sequence>
            </complexType>
            <element name="callXMLProcessorResponse" type="impl:CallXMLProcessorResponse" />
            <complexType name="UploadDataRequest">
                <sequence>
                    <element name="modelCode" nillable="true" type="xsd:string" />
                    <element name="objectType" type="xsd:string" />
                    <element name="objectCode" type="xsd:string" />
                    <element name="loadContext" type="generic:ObsType" />
                    <element name="keyFields" type="generic:ObsType" />
                    <element name="valueFields" type="generic:ObsType" />
                    <element name="data" type="impl:ArrayOfObsType" />
                </sequence>
            </complexType>
            <element name="uploadData" type="impl:UploadDataRequest" />
            <complexType name="LoadClassifierAssociationsRequest">
                <sequence>
                    <element name="modelCode" type="xsd:string" />
                    <element name="classifierCode" type="xsd:string" />
                    <element name="level" type="xsd:int" />
                    <element name="parentCode" type="xsd:string" />
                    <element name="childRows" type="impl:ArrayOfObsType" />
                    <element name="resume" type="xsd:boolean" />
                </sequence>
            </complexType>
            <element name="loadClassifierAssociations" type="impl:LoadClassifierAssociationsRequest" />
            <complexType name="LoadClassifierAssociationsResponse">
                <sequence>
                    <element name="success" type="xsd:boolean" />
                </sequence>
            </complexType>
            <element name="loadClassifierAssociationsResponse" type="impl:LoadClassifierAssociationsResponse" />
            <complexType name="DeleteClassifierAssociationsRequest">
                <sequence>
                    <element name="modelCode" type="xsd:string" />
                    <element name="classifierCode" type="xsd:string" />
                    <element name="level" type="xsd:int" />
                    <element name="parentCode" type="xsd:string" />
                    <element name="childRows" type="impl:ArrayOfObsType" />
                </sequence>
            </complexType>
            <element name="deleteClassifierAssociations" type="impl:DeleteClassifierAssociationsRequest" />
            <complexType name="DeleteClassifierAssociationsResponse">
                <sequence>
                    <element name="success" type="xsd:boolean" />
                </sequence>
            </complexType>
            <element name="deleteClassifierAssociationsResponse" type="impl:DeleteClassifierAssociationResponse" />
            <!-- updateFileField -->
            <complexType name="UpdateFileFieldRequest">
                <sequence>
                    <element name="modelCode" nillable="true" type="xsd:string" />
                    <element name="objectType" type="xsd:string" />
                    <element name="objectCode" type="xsd:string" />
                    <element name="fieldCode" type="xsd:string" />
                    <element name="rowId" type="xsd:long" />
                    <element name="fileName" type="xsd:string" />
                    <element name="fileSize" type="xsd:int" />
                    <element name="data" type="xsd:base64Binary" xmime:expectedContentTypes="application/octet-stream" />
                </sequence>
            </complexType>
            <element name="updateFileField" type="impl:UpdateFileFieldRequest" />
            <complexType name="UpdateFileFieldResponse">
                <sequence>
                    <element name="success" type="xsd:boolean" />
                </sequence>
            </complexType>
            <element name="updateFileFieldResponse" type="impl:UpdateFileFieldResponse" />
            <!-- queryFileField -->
            <complexType name="QueryFileFieldRequest">
                <sequence>
                    <element name="modelCode" nillable="true" type="xsd:string" />
                    <element name="objectType" type="xsd:string" />
                    <element name="objectCode" type="xsd:string" />
                    <element name="fieldCode" type="xsd:string" />
                    <element name="rowId" type="xsd:long" />
                </sequence>
            </complexType>
            <element name="queryFileField" type="impl:QueryFileFieldRequest" />
            <complexType name="QueryFileFieldResponse">
                <sequence>
                    <element name="fileName" type="xsd:string" />
                    <element name="fileSize" type="xsd:int" />
                    <element name="data" type="xsd:base64Binary" xmime:expectedContentTypes="application/octet-stream" />
                </sequence>
            </complexType>
            <element name="queryFileFieldResponse" type="impl:QueryFileFieldResponse" />
            <!-- put-get-remove Metadata -->
            <element name="putMetadata" type="impl:UpdateObjectRequest" />
            <element name="putMetadataResponse" type="impl:SuccessResponse" />
            <complexType name="MetadataRequest">
                <sequence>
                    <element name="modelCode" type="xsd:string" />
                    <element name="objectType" type="xsd:string" />
                    <element name="objectCode" type="xsd:string" />
                    <element name="unloadId" type="xsd:boolean" />
                </sequence>
            </complexType>
            <element name="getMetadata" type="impl:MetadataRequest" />
            <element name="getMetadataResponse" type="impl:ObjectResponse" />
            <complexType name="RemoveMetadataRequest">
                <sequence>
                    <element name="modelCode" type="xsd:string" />
                    <element name="objectType" type="xsd:string" />
                    <element name="objectCode" type="xsd:string" />
                    <element name="userCode" nillable="true" type="xsd:string" />
                </sequence>
            </complexType>
            <element name="removeMetadata" type="impl:RemoveMetadataRequest" />
            <element name="removeMetadataResponse" type="impl:SuccessResponse" />
            <!-- DWH Objects Individual User Interface -->
            <element name="getObjectUI" type="impl:ObjectRequest" />
            <element name="getObjectUIResponse" type="impl:ObjectResponse" />
            <!-- DWH Objects Grants -->
            <element name="getGrants" type="impl:GrantRequest" />
            <element name="getGrantsResponse" type="impl:XMLStringResponse" />
            <element name="getUserInfo" type="impl:EmptyType" />
            <element name="getUserInfoResponse" type="impl:XMLStringResponse" />
            <!-- Version -->
            <element name="getVersion" type="impl:EmptyType" />
            <element name="getVersionResponse" type="impl:XMLStringResponse" />
            <!-- BI Object List By Type-->
            <complexType name="BIListRequest">
                <sequence>
                    <element name="objectType" type="xsd:string" />
                </sequence>
            </complexType>
            <element name="getBIObjectList" type="impl:BIListRequest" />
            <element name="getBIObjectListResponse" type="impl:XMLStringResponse" />
            <!-- Object List As Folder Childs -->
            <complexType name="ChildListRequest">
                <sequence>
                    <element name="modelCode" type="xsd:string" />
                    <element name="parentFolder" nillable="true" type="xsd:long" />
                    <element name="objectClasses" nillable="true" type="impl:ArrayOfString" />
                    <element name="parentClass" type="xsd:string" />
                    <element name="parentCode" type="xsd:string" />
                </sequence>
            </complexType>
            <element name="getChildList" type="impl:ChildListRequest" />
            <element name="getChildListResponse" type="impl:ListResponse" />
            <!-- Set parentFolder to object(s) -->
            <complexType name="SetChildListRequest">
                <sequence>
                    <element name="modelCode" type="xsd:string" />
                    <element name="parentFolder" nillable="true" type="xsd:long" />
                    <element name="objects" type="impl:ArrayOfObject" />
                </sequence>
            </complexType>
            <element name="setChildList" type="impl:SetChildListRequest" />
            <element name="setChildListResponse" type="impl:SuccessResponse" />
            <!-- Upload Special Data File to DW -->
            <complexType name="UploadDataFileRequest">
                <sequence>
                    <element name="modelCode" type="xsd:string" />
                    <element name="filePath" type="xsd:string" />
                    <element name="dataCode" type="xsd:string" />
                    <element name="dataCaption" type="xsd:string" />
                    <element name="adapterCode" type="xsd:string" />
                    <element name="checkSum" nillable="true" type="xsd:boolean" />
                    <element name="resume" nillable="true" type="xsd:boolean" />
                </sequence>
            </complexType>
            <element name="uploadDataFile" type="impl:UploadDataFileRequest" />
            <element name="uploadDataFileResponse" type="impl:MessageResponse" />
            <!-- Master Password -->
            <element name="hasMasterPassword" type="impl:EmptyType" />
            <element name="hasMasterPasswordResponse" type="impl:SuccessResponse" />
            <complexType name="SetMasterPasswordRequest">
                <sequence>
                    <element name="newPassword" type="xsd:string" />
                </sequence>
            </complexType>
            <element name="setMasterPassword" type="impl:SetMasterPasswordRequest" />
            <element name="setMasterPasswordResponse" type="impl:SuccessResponse" />
            <!-- Upload DB Query to DW -->
            <complexType name="UploadDBQueryRequest">
                <sequence>
                    <element name="modelCode" type="xsd:string" />
                    <element name="objectType" type="xsd:string" />
                    <element name="objectCode" type="xsd:string" />
                    <element name="connectionProperties" type="xsd:string" />
                    <element name="nativeSql" type="xsd:string" />
                    <element name="resume" nillable="true" type="xsd:boolean" />
                </sequence>
            </complexType>
            <element name="uploadDBQuery" type="impl:UploadDBQueryRequest" />
            <element name="uploadDBQueryResponse" type="impl:MessageResponse" />
            <!-- Query Extended Data - for example, from Qiestionary -->
            <complexType name="QueryExtendedDataRequest">
                <sequence>
                    <element name="modelCode" type="xsd:string" />
                    <element name="objectType" type="xsd:string" />
                    <element name="objectCode" type="xsd:string" />
                </sequence>
            </complexType>
            <element name="queryExtendedData" type="impl:QueryExtendedDataRequest" />
            <element name="queryExtendedDataResponse" type="impl:XMLStringResponse" />

        </schema>
  </types>
  <message name="exportModelResponse">
    <part element="impl:exportModelResponse" name="exportModelResponse">
    </part>
  </message>
  <message name="putEventRequest">
    <part element="impl:putEvent" name="putEvent">
    </part>
  </message>
  <message name="getClassifierFullNodeListWithAssociationsRequest">
    <part element="impl:getClassifierFullNodeListWithAssociations" name="getClassifierFullNodeListWithAssociations">
    </part>
  </message>
  <message name="putFileRequest">
    <part element="impl:putFile" name="putFile">
    </part>
  </message>
  <message name="getUserInfoResponse">
    <part element="impl:getUserInfoResponse" name="getUserInfoResponse">
    </part>
  </message>
  <message name="getBIObjectListRequest">
    <part element="impl:getBIObjectList" name="getBIObjectList">
    </part>
  </message>
  <message name="getFileDataRequest">
    <part element="impl:getFileData" name="getFileData">
    </part>
  </message>
  <message name="loadClassifierAssociationsRequest">
    <part element="impl:loadClassifierAssociations" name="loadClassifierAssociations">
    </part>
  </message>
  <message name="getClassifierLevelCountRequest">
    <part element="impl:getClassifierLevelCount" name="getClassifierLevelCount">
    </part>
  </message>
  <message name="getChildListRequest">
    <part element="impl:getChildList" name="getChildList">
    </part>
  </message>
  <message name="getClassifierPeriodsRequest">
    <part element="impl:getClassifierPeriods" name="getClassifierPeriods">
    </part>
  </message>
  <message name="putMetadataRequest">
    <part element="impl:putMetadata" name="putMetadata">
    </part>
  </message>
  <message name="empty">
    <part element="impl:empty" name="parameters">
    </part>
  </message>
  <message name="deleteRowRequest">
    <part element="impl:deleteRow" name="deleteRow">
    </part>
  </message>
  <message name="loadDataRequest">
    <part element="impl:loadData" name="loadData">
    </part>
  </message>
  <message name="getClassifierNodeListRequest">
    <part element="impl:getClassifierNodeList" name="getClassifierNodeList">
    </part>
  </message>
  <message name="setMasterPasswordResponse">
    <part element="impl:setMasterPasswordResponse" name="setMasterPasswordResponse">
    </part>
  </message>
  <message name="createObjectRequest">
    <part element="impl:createObject" name="createObject">
    </part>
  </message>
  <message name="getFileInfoResponse">
    <part element="impl:getFileInfoResponse" name="getFileInfoResponse">
    </part>
  </message>
  <message name="addClassifierAssociationResponse">
    <part element="impl:addClassifierAssociationResponse" name="addClassifierAssociationResponse">
    </part>
  </message>
  <message name="callXMLProcessorResponse">
    <part element="impl:callXMLProcessorResponse" name="callXMLProcessorResponse">
    </part>
  </message>
  <message name="getObjectUIResponse">
    <part element="impl:getObjectUIResponse" name="getObjectUIResponse">
    </part>
  </message>
  <message name="getClassifierNodeListWithAssociationsRequest">
    <part element="impl:getClassifierNodeListWithAssociations" name="getClassifierNodeListWithAssociations">
    </part>
  </message>
  <message name="deleteClassifierAssociationResponse">
    <part element="impl:deleteClassifierAssociationResponse" name="deleteClassifierAssociationResponse">
    </part>
  </message>
  <message name="setChildListRequest">
    <part element="impl:setChildList" name="setChildList">
    </part>
  </message>
  <message name="queryRequest">
    <part element="impl:query" name="query">
    </part>
  </message>
  <message name="createModelRequest">
    <part element="impl:createModel" name="createModel">
    </part>
  </message>
  <message name="getVersionRequest">
    <part element="impl:getVersion" name="getVersion">
    </part>
  </message>
  <message name="objectGrantsResponse">
    <part element="impl:objectGrantsResponse" name="objectGrantsResponse">
    </part>
  </message>
  <message name="updateFileFieldResponse">
    <part element="impl:updateFileFieldResponse" name="updateFileFieldResponse">
    </part>
  </message>
  <message name="getFileInfoRequest">
    <part element="impl:getFileInfo" name="getFileInfo">
    </part>
  </message>
  <message name="queryResponse">
    <part element="impl:queryResponse" name="queryResponse">
    </part>
  </message>
  <message name="objectGrantsRequest">
    <part element="impl:objectGrants" name="objectGrants">
    </part>
  </message>
  <message name="getClassifierParentNodeRequest">
    <part element="impl:getClassifierParentNode" name="getClassifierParentNode">
    </part>
  </message>
  <message name="getClassifierListForReferenceRequest">
    <part element="impl:getClassifierListForReference" name="getClassifierListForReference">
    </part>
  </message>
  <message name="getItemResponse">
    <part element="impl:getItemResponse" name="getItemResponse">
    </part>
  </message>
  <message name="updateRowRequest">
    <part element="impl:updateRow" name="updateRow">
    </part>
  </message>
  <message name="getClassifierPeriodsResponse">
    <part element="impl:getClassifierPeriodsResponse" name="getClassifierPeriodsResponse">
    </part>
  </message>
  <message name="operationGrantsRequest">
    <part element="impl:operationGrants" name="operationGrants">
    </part>
  </message>
  <message name="removeMetadataRequest">
    <part element="impl:removeMetadata" name="removeMetadata">
    </part>
  </message>
  <message name="updateDataRequest">
    <part element="impl:updateData" name="updateData">
    </part>
  </message>
  <message name="hasMasterPasswordRequest">
    <part element="impl:hasMasterPassword" name="hasMasterPassword">
    </part>
  </message>
  <message name="exportModelRequest">
    <part element="impl:exportModel" name="exportModel">
    </part>
  </message>
  <message name="deleteClassifierAssociationsRequest">
    <part element="impl:deleteClassifierAssociations" name="deleteClassifierAssociations">
    </part>
  </message>
  <message name="createObjectResponse">
    <part element="impl:createObjectResponse" name="createObjectResponse">
    </part>
  </message>
  <message name="deleteClassifierAssociationRequest">
    <part element="impl:deleteClassifierAssociation" name="deleteClassifierAssociation">
    </part>
  </message>
  <message name="getClassifierFullNodeListRequest">
    <part element="impl:getClassifierFullNodeList" name="getClassifierFullNodeList">
    </part>
  </message>
  <message name="loadClassifierAssociationsResponse">
    <part element="impl:loadClassifierAssociationsResponse" name="loadClassifierAssociationsResponse">
    </part>
  </message>
  <message name="getFileDataResponse">
    <part element="impl:getFileDataResponse" name="getFileDataResponse">
    </part>
  </message>
  <message name="getVersionResponse">
    <part element="impl:getVersionResponse" name="getVersionResponse">
    </part>
  </message>
  <message name="updateClassifierAssociationRequest">
    <part element="impl:updateClassifierAssociation" name="updateClassifierAssociation">
    </part>
  </message>
  <message name="uploadDataFileRequest">
    <part element="impl:uploadDataFile" name="uploadDataFile">
    </part>
  </message>
  <message name="getObjectResponse">
    <part element="impl:getObjectResponse" name="getObjectResponse">
    </part>
  </message>
  <message name="getUpdateDateResponse">
    <part element="impl:getUpdateDateResponse" name="getUpdateDateResponse">
    </part>
  </message>
  <message name="getListResponse">
    <part element="impl:getListResponse" name="getListResponse">
    </part>
  </message>
  <message name="getObjectUIRequest">
    <part element="impl:getObjectUI" name="getObjectUI">
    </part>
  </message>
  <message name="createAssociatorRequest">
    <part element="impl:createAssociator" name="createAssociator">
    </part>
  </message>
  <message name="getAssociatorListRequest">
    <part element="impl:getAssociatorList" name="getAssociatorList">
    </part>
  </message>
  <message name="addClassifierAssociationRequest">
    <part element="impl:addClassifierAssociation" name="addClassifierAssociation">
    </part>
  </message>
  <message name="getModelListRequest">
    <part element="impl:getModelList" name="getModelList">
    </part>
  </message>
  <message name="operationGrantsResponse">
    <part element="impl:operationGrantsResponse" name="operationGrantsResponse">
    </part>
  </message>
  <message name="updateClassifierNodeRequest">
    <part element="impl:updateClassifierNode" name="updateClassifierNode">
    </part>
  </message>
  <message name="addChildClassifierNodeRequest">
    <part element="impl:addChildClassifierNode" name="addChildClassifierNode">
    </part>
  </message>
  <message name="getMetadataRequest">
    <part element="impl:getMetadata" name="getMetadata">
    </part>
  </message>
  <message name="putMetadataResponse">
    <part element="impl:putMetadataResponse" name="putMetadataResponse">
    </part>
  </message>
  <message name="putFileResponse">
    <part element="impl:putFileResponse" name="putFileResponse">
    </part>
  </message>
  <message name="getRowCountRequest">
    <part element="impl:getRowCount" name="getRowCount">
    </part>
  </message>
  <message name="getGrantsRequest">
    <part element="impl:getGrants" name="getGrants">
    </part>
  </message>
  <message name="importModelResponse">
    <part element="impl:importModelResponse" name="importModelResponse">
    </part>
  </message>
  <message name="insertClassifierLevelRequest">
    <part element="impl:insertClassifierLevel" name="insertClassifierLevel">
    </part>
  </message>
  <message name="getUpdateDateRequest">
    <part element="impl:getUpdateDate" name="getUpdateDate">
    </part>
  </message>
  <message name="getAdminModelDescriptionRequest">
    <part element="impl:getAdminModelDescription" name="getAdminModelDescription">
    </part>
  </message>
  <message name="selectRowResponse">
    <part element="impl:selectRowResponse" name="selectRowResponse">
    </part>
  </message>
  <message name="uploadDataFileResponse">
    <part element="impl:uploadDataFileResponse" name="uploadDataFileResponse">
    </part>
  </message>
  <message name="uploadDBQueryResponse">
    <part element="impl:uploadDBQueryResponse" name="uploadDBQueryResponse">
    </part>
  </message>
  <message name="putEventResponse">
    <part element="impl:putEventResponse" name="putEventResponse">
    </part>
  </message>
  <message name="deleteDataRequest">
    <part element="impl:deleteData" name="deleteData">
    </part>
  </message>
  <message name="deleteObjectRequest">
    <part element="impl:deleteObject" name="deleteObject">
    </part>
  </message>
  <message name="deleteClassifierAssociationsResponse">
    <part element="impl:deleteClassifierAssociationsResponse" name="deleteClassifierAssociationsResponse">
    </part>
  </message>
  <message name="uploadDBQueryRequest">
    <part element="impl:uploadDBQuery" name="uploadDBQuery">
    </part>
  </message>
  <message name="hasMasterPasswordResponse">
    <part element="impl:hasMasterPasswordResponse" name="hasMasterPasswordResponse">
    </part>
  </message>
  <message name="getCountResponse">
    <part element="impl:getCountResponse" name="getCountResponse">
    </part>
  </message>
  <message name="insertRowResponse">
    <part element="impl:insertRowResponse" name="insertRowResponse">
    </part>
  </message>
  <message name="insertRowRequest">
    <part element="impl:insertRow" name="insertRow">
    </part>
  </message>
  <message name="queryFileFieldResponse">
    <part element="impl:queryFileFieldResponse" name="queryFileFieldResponse">
    </part>
  </message>
  <message name="getMetadataResponse">
    <part element="impl:getMetadataResponse" name="getMetadataResponse">
    </part>
  </message>
  <message name="getObjectRequest">
    <part element="impl:getObject" name="getObject">
    </part>
  </message>
  <message name="getGrantsResponse">
    <part element="impl:getGrantsResponse" name="getGrantsResponse">
    </part>
  </message>
  <message name="queryFileFieldRequest">
    <part element="impl:queryFileField" name="queryFileField">
    </part>
  </message>
  <message name="queryExtendedDataResponse">
    <part element="impl:queryExtendedDataResponse" name="queryExtendedDataResponse">
    </part>
  </message>
  <message name="updateFileFieldRequest">
    <part element="impl:updateFileField" name="updateFileField">
    </part>
  </message>
  <message name="removeMetadataResponse">
    <part element="impl:removeMetadataResponse" name="removeMetadataResponse">
    </part>
  </message>
  <message name="setChildListResponse">
    <part element="impl:setChildListResponse" name="setChildListResponse">
    </part>
  </message>
  <message name="getModelDescriptionRequest">
    <part element="impl:getModelDescription" name="getModelDescription">
    </part>
  </message>
  <message name="uploadDataRequest">
    <part element="impl:uploadData" name="uploadData">
    </part>
  </message>
  <message name="deleteModelRequest">
    <part element="impl:deleteModel" name="deleteModel">
    </part>
  </message>
  <message name="removeFileRequest">
    <part element="impl:removeFile" name="removeFile">
    </part>
  </message>
  <message name="updateObjectRequest">
    <part element="impl:updateObject" name="updateObject">
    </part>
  </message>
  <message name="importModelRequest">
    <part element="impl:importModel" name="importModel">
    </part>
  </message>
  <message name="getListRequest">
    <part element="impl:getList" name="getList">
    </part>
  </message>
  <message name="callXMLProcessorRequest">
    <part element="impl:callXMLProcessor" name="callXMLProcessorRequest">
    </part>
  </message>
  <message name="selectRowRequest">
    <part element="impl:selectRow" name="selectRow">
    </part>
  </message>
  <message name="updateClassifierAssociationResponse">
    <part element="impl:updateClassifierAssociationResponse" name="updateClassifierAssociationResponse">
    </part>
  </message>
  <message name="queryExtendedDataRequest">
    <part element="impl:queryExtendedData" name="queryExtendedData">
    </part>
  </message>
  <message name="getModelDescriptionResponse">
    <part element="impl:getModelDescriptionResponse" name="getModelDescriptionResponse">
    </part>
  </message>
  <message name="getUserInfoRequest">
    <part element="impl:getUserInfo" name="getUserInfo">
    </part>
  </message>
  <message name="addChildClassifierNodeResponse">
    <part element="impl:insertRowResponse" name="addChildClassifierNodeResponse">
    </part>
  </message>
  <message name="getBIObjectListResponse">
    <part element="impl:getBIObjectListResponse" name="getBIObjectListResponse">
    </part>
  </message>
  <message name="setMasterPasswordRequest">
    <part element="impl:setMasterPassword" name="setMasterPassword">
    </part>
  </message>
  <message name="insertClassifierLevelResponse">
    <part element="impl:insertClassifierLevelResponse" name="insertClassifierLevelResponse">
    </part>
  </message>
  <portType name="SdmxService">
    <operation name="getModelList">
      <input message="impl:getModelListRequest" name="getModelListRequest">
    </input>
      <output message="impl:getListResponse" name="getModelListResponse">
    </output>
    </operation>
    <operation name="getModelDescription">
      <input message="impl:getModelDescriptionRequest" name="getModelDescriptionRequest">
    </input>
      <output message="impl:getModelDescriptionResponse" name="getModelDescriptionResponse">
    </output>
    </operation>
    <operation name="getAdminModelDescription">
      <input message="impl:getAdminModelDescriptionRequest" name="getAdminModelDescriptionRequest">
    </input>
      <output message="impl:getModelDescriptionResponse" name="getModelDescriptionResponse">
    </output>
    </operation>
    <operation name="getList">
      <input message="impl:getListRequest" name="getListRequest">
    </input>
      <output message="impl:getListResponse" name="getListResponse">
    </output>
    </operation>
    <operation name="getObject">
      <input message="impl:getObjectRequest" name="getObjectRequest">
    </input>
      <output message="impl:getObjectResponse" name="getObjectResponse">
    </output>
    </operation>
    <operation name="getClassifierNodeList">
      <input message="impl:getClassifierNodeListRequest" name="getClassifierNodeListRequest">
    </input>
      <output message="impl:getListResponse" name="getClassifierNodeListResponse">
    </output>
    </operation>
    <operation name="getClassifierFullNodeList">
      <input message="impl:getClassifierFullNodeListRequest" name="getClassifierFullNodeListRequest">
    </input>
      <output message="impl:getListResponse" name="getClassifierFullNodeListResponse">
    </output>
    </operation>
    <operation name="getClassifierNodeListWithAssociations">
      <input message="impl:getClassifierNodeListWithAssociationsRequest" name="getClassifierNodeListWithAssociationsRequest">
    </input>
      <output message="impl:getListResponse" name="getClassifierNodeListResponse">
    </output>
    </operation>
    <operation name="getClassifierFullNodeListWithAssociations">
      <input message="impl:getClassifierFullNodeListWithAssociationsRequest" name="getClassifierFullNodeListWithAssociationsRequest">
    </input>
      <output message="impl:getListResponse" name="getClassifierFullNodeListResponse">
    </output>
    </operation>
    <operation name="getClassifierParentNode">
      <input message="impl:getClassifierParentNodeRequest" name="getClassifierParentNodeRequest">
    </input>
      <output message="impl:getItemResponse" name="getClassifierParentNodeResponse">
    </output>
    </operation>
    <operation name="getClassifierLevelCount">
      <input message="impl:getClassifierLevelCountRequest" name="getClassifierLevelCountRequest">
    </input>
      <output message="impl:getCountResponse" name="getClassifierLevelCountResponse">
    </output>
    </operation>
    <operation name="getAssociatorList">
      <input message="impl:getAssociatorListRequest" name="getAssociatorListRequest">
    </input>
      <output message="impl:getListResponse" name="getAssociatorListResponse">
    </output>
    </operation>
    <operation name="getClassifierListForReference">
      <input message="impl:getClassifierListForReferenceRequest" name="getClassifierListForReferenceRequest">
    </input>
      <output message="impl:getListResponse" name="getClassifierListForReferenceResponse">
    </output>
    </operation>
    <operation name="createModel">
      <input message="impl:createModelRequest" name="createModelRequest">
    </input>
      <output message="impl:empty" name="createModelResponse">
    </output>
    </operation>
    <operation name="deleteModel">
      <input message="impl:deleteModelRequest" name="deleteModelRequest">
    </input>
      <output message="impl:empty" name="deleteModelResponse">
    </output>
    </operation>
    <operation name="updateObject">
      <input message="impl:updateObjectRequest" name="updateObjectRequest">
    </input>
      <output message="impl:empty" name="updateObjectResponse">
    </output>
    </operation>
    <operation name="createObject">
      <input message="impl:createObjectRequest" name="createObjectRequest">
    </input>
      <output message="impl:createObjectResponse" name="createObjectResponse">
    </output>
    </operation>
    <operation name="deleteObject">
      <input message="impl:deleteObjectRequest" name="deleteObjectRequest">
    </input>
      <output message="impl:empty" name="deleteObjectResponse">
    </output>
    </operation>
    <operation name="createAssociator">
      <input message="impl:createAssociatorRequest" name="createAssociatorRequest">
    </input>
      <output message="impl:empty" name="createAssociatorResponse">
    </output>
    </operation>
    <operation name="importModel">
      <input message="impl:importModelRequest" name="importModelRequest">
    </input>
      <output message="impl:importModelResponse" name="importModelResponse">
    </output>
    </operation>
    <operation name="exportModel">
      <input message="impl:exportModelRequest" name="exportModelRequest">
    </input>
      <output message="impl:exportModelResponse" name="exportModelResponse">
    </output>
    </operation>
    <operation name="query">
      <input message="impl:queryRequest" name="queryRequest">
    </input>
      <output message="impl:queryResponse" name="queryResponse">
    </output>
    </operation>
    <operation name="getRowCount">
      <input message="impl:getRowCountRequest" name="getRowCountRequest">
    </input>
      <output message="impl:getCountResponse" name="getCountResponse">
    </output>
    </operation>
    <operation name="getUpdateDate">
      <input message="impl:getUpdateDateRequest" name="getUpdateDateRequest">
    </input>
      <output message="impl:getUpdateDateResponse" name="getUpdateDateResponse">
    </output>
    </operation>
    <operation name="selectRow">
      <input message="impl:selectRowRequest" name="selectRowRequest">
    </input>
      <output message="impl:selectRowResponse" name="selectRowResponse">
    </output>
    </operation>
    <operation name="operationGrants">
      <input message="impl:operationGrantsRequest" name="operationGrantsRequest">
    </input>
      <output message="impl:operationGrantsResponse" name="operationGrantsResponse">
    </output>
    </operation>
    <operation name="objectGrants">
      <input message="impl:objectGrantsRequest" name="objectGrantsRequest">
    </input>
      <output message="impl:objectGrantsResponse" name="objectGrantsResponse">
    </output>
    </operation>
    <operation name="loadData">
      <input message="impl:loadDataRequest" name="loadDataRequest">
    </input>
      <output message="impl:empty" name="loadDataResponse">
    </output>
    </operation>
    <operation name="insertRow">
      <input message="impl:insertRowRequest" name="insertRowRequest">
    </input>
      <output message="impl:insertRowResponse" name="insertRowResponse">
    </output>
    </operation>
    <operation name="updateRow">
      <input message="impl:updateRowRequest" name="updateRowRequest">
    </input>
      <output message="impl:empty" name="updateRowResponse">
    </output>
    </operation>
    <operation name="updateData">
      <input message="impl:updateDataRequest" name="updateDataRequest">
    </input>
      <output message="impl:empty" name="updateDataResponse">
    </output>
    </operation>
    <operation name="deleteRow">
      <input message="impl:deleteRowRequest" name="deleteRowRequest">
    </input>
      <output message="impl:empty" name="deleteRowResponse">
    </output>
    </operation>
    <operation name="deleteData">
      <input message="impl:deleteDataRequest" name="deleteDataRequest">
    </input>
      <output message="impl:empty" name="deleteDataResponse">
    </output>
    </operation>
    <operation name="addChildClassifierNode">
      <input message="impl:addChildClassifierNodeRequest" name="addChildClassifierNodeRequest">
    </input>
      <output message="impl:addChildClassifierNodeResponse" name="addChildClassifierNodeResponse">
    </output>
    </operation>
    <operation name="updateClassifierNode">
      <input message="impl:updateClassifierNodeRequest" name="updateClassifierNodeRequest">
    </input>
      <output message="impl:empty" name="updateClassifierNodeResponse">
    </output>
    </operation>
    <operation name="putFile">
      <input message="impl:putFileRequest" name="putFileRequest">
    </input>
      <output message="impl:putFileResponse" name="putFileResponse">
    </output>
    </operation>
    <operation name="removeFile">
      <input message="impl:removeFileRequest" name="removeFileRequest">
    </input>
      <output message="impl:empty" name="removeFileResponse">
    </output>
    </operation>
    <operation name="getFileInfo">
      <input message="impl:getFileInfoRequest" name="getFileInfoRequest">
    </input>
      <output message="impl:getFileInfoResponse" name="getFileInfoResponse">
    </output>
    </operation>
    <operation name="getFileData">
      <input message="impl:getFileDataRequest" name="getFileDataRequest">
    </input>
      <output message="impl:getFileDataResponse" name="getFileDataResponse">
    </output>
    </operation>
    <operation name="putEvent">
      <input message="impl:putEventRequest" name="putEventRequest">
    </input>
      <output message="impl:putEventResponse" name="putEventResponse">
    </output>
    </operation>
    <operation name="insertClassifierLevel">
      <input message="impl:insertClassifierLevelRequest" name="insertClassifierLevelRequest">
    </input>
      <output message="impl:insertClassifierLevelResponse" name="insertClassifierLevelResponse">
    </output>
    </operation>
    <operation name="addClassifierAssociation">
      <input message="impl:addClassifierAssociationRequest" name="addClassifierAssociationRequest">
    </input>
      <output message="impl:addClassifierAssociationResponse" name="addClassifierAssociationResponse">
    </output>
    </operation>
    <operation name="deleteClassifierAssociation">
      <input message="impl:deleteClassifierAssociationRequest" name="deleteClassifierAssociationRequest">
    </input>
      <output message="impl:deleteClassifierAssociationResponse" name="deleteClassifierAssociationResponse">
    </output>
    </operation>
    <operation name="updateClassifierAssociation">
      <input message="impl:updateClassifierAssociationRequest" name="updateClassifierAssociationRequest">
    </input>
      <output message="impl:updateClassifierAssociationResponse" name="updateClassifierAssociationResponse">
    </output>
    </operation>
    <operation name="getClassifierPeriods">
      <input message="impl:getClassifierPeriodsRequest" name="getClassifierPeriodsRequest">
    </input>
      <output message="impl:getClassifierPeriodsResponse" name="getClassifierPeriodsResponse">
    </output>
    </operation>
    <operation name="callXMLProcessor">
      <input message="impl:callXMLProcessorRequest" name="callXMLProcessorRequest">
    </input>
      <output message="impl:callXMLProcessorResponse" name="callXMLProcessorResponse">
    </output>
    </operation>
    <operation name="uploadData">
      <input message="impl:uploadDataRequest" name="uploadDataRequest">
    </input>
      <output message="impl:empty" name="uploadDataResponse">
    </output>
    </operation>
    <operation name="loadClassifierAssociations">
      <input message="impl:loadClassifierAssociationsRequest" name="loadClassifierAssociationsRequest">
    </input>
      <output message="impl:loadClassifierAssociationsResponse" name="loadClassifierAssociationsResponse">
    </output>
    </operation>
    <operation name="deleteClassifierAssociations">
      <input message="impl:deleteClassifierAssociationsRequest" name="deleteClassifierAssociationsRequest">
    </input>
      <output message="impl:deleteClassifierAssociationsResponse" name="deleteClassifierAssociationsResponse">
    </output>
    </operation>
    <operation name="updateFileField">
      <input message="impl:updateFileFieldRequest" name="updateFileFieldRequest">
    </input>
      <output message="impl:updateFileFieldResponse" name="updateFileFieldResponse">
    </output>
    </operation>
    <operation name="queryFileField">
      <input message="impl:queryFileFieldRequest" name="queryFileFieldRequest">
    </input>
      <output message="impl:queryFileFieldResponse" name="queryFileFieldResponse">
    </output>
    </operation>
    <operation name="putMetadata">
      <input message="impl:putMetadataRequest" name="putMetadataRequest">
    </input>
      <output message="impl:putMetadataResponse" name="putMetadataResponse">
    </output>
    </operation>
    <operation name="getMetadata">
      <input message="impl:getMetadataRequest" name="getMetadataRequest">
    </input>
      <output message="impl:getMetadataResponse" name="getMetadataResponse">
    </output>
    </operation>
    <operation name="removeMetadata">
      <input message="impl:removeMetadataRequest" name="removeMetadataRequest">
    </input>
      <output message="impl:removeMetadataResponse" name="removeMetadataResponse">
    </output>
    </operation>
    <operation name="getObjectUI">
      <input message="impl:getObjectUIRequest" name="getObjectUIRequest">
    </input>
      <output message="impl:getObjectUIResponse" name="getObjectUIResponse">
    </output>
    </operation>
    <operation name="getGrants">
      <input message="impl:getGrantsRequest" name="getGrantsRequest">
    </input>
      <output message="impl:getGrantsResponse" name="getGrantsResponse">
    </output>
    </operation>
    <operation name="getUserInfo">
      <input message="impl:getUserInfoRequest" name="getUserInfoRequest">
    </input>
      <output message="impl:getUserInfoResponse" name="getUserInfoResponse">
    </output>
    </operation>
    <operation name="getVersion">
      <input message="impl:getVersionRequest" name="getVersionRequest">
    </input>
      <output message="impl:getVersionResponse" name="getVersionResponse">
    </output>
    </operation>
    <operation name="getBIObjectList">
      <input message="impl:getBIObjectListRequest" name="getBIObjectListRequest">
    </input>
      <output message="impl:getBIObjectListResponse" name="getBIObjectListResponse">
    </output>
    </operation>
    <operation name="getChildList">
      <input message="impl:getChildListRequest" name="getChildListRequest">
    </input>
      <output message="impl:getListResponse" name="getChildListResponse">
    </output>
    </operation>
    <operation name="setChildList">
      <input message="impl:setChildListRequest" name="setChildListRequest">
    </input>
      <output message="impl:setChildListResponse" name="setChildListResponse">
    </output>
    </operation>
    <operation name="uploadDataFile">
      <input message="impl:uploadDataFileRequest" name="uploadDataFileRequest">
    </input>
      <output message="impl:uploadDataFileResponse" name="uploadDataFileResponse">
    </output>
    </operation>
    <operation name="hasMasterPassword">
      <input message="impl:hasMasterPasswordRequest" name="hasMasterPasswordRequest">
    </input>
      <output message="impl:hasMasterPasswordResponse" name="hasMasterPasswordResponse">
    </output>
    </operation>
    <operation name="setMasterPassword">
      <input message="impl:setMasterPasswordRequest" name="setMasterPasswordRequest">
    </input>
      <output message="impl:setMasterPasswordResponse" name="setMasterPasswordResponse">
    </output>
    </operation>
    <operation name="uploadDBQuery">
      <input message="impl:uploadDBQueryRequest" name="uploadDBQueryRequest">
    </input>
      <output message="impl:uploadDBQueryResponse" name="uploadDBQueryResponse">
    </output>
    </operation>
    <operation name="queryExtendedData">
      <input message="impl:queryExtendedDataRequest" name="queryExtendedDataRequest">
    </input>
      <output message="impl:queryExtendedDataResponse" name="queryExtendedDataResponse">
    </output>
    </operation>
  </portType>
  <binding name="SdmxServiceSoapBinding" type="impl:SdmxService">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="getModelList">
      <wsdlsoap:operation soapAction="" style="document" />
      <input name="getModelListRequest">
        <wsdlsoap:body use="literal" />
      </input>
      <output name="getModelListResponse">
        <wsdlsoap:body use="literal" />
      </output>
    </operation>
    <operation name="getModelDescription">
      <wsdlsoap:operation soapAction="" style="document" />
      <input name="getModelDescriptionRequest">
        <wsdlsoap:body use="literal" />
      </input>
      <output name="getModelDescriptionResponse">
        <wsdlsoap:body use="literal" />
      </output>
    </operation>
    <operation name="getAdminModelDescription">
      <wsdlsoap:operation soapAction="" style="document" />
      <input name="getAdminModelDescriptionRequest">
        <wsdlsoap:body use="literal" />
      </input>
      <output name="getModelDescriptionResponse">
        <wsdlsoap:body use="literal" />
      </output>
    </operation>
    <operation name="getList">
      <wsdlsoap:operation soapAction="" style="document" />
      <input name="getListRequest">
        <wsdlsoap:body use="literal" />
      </input>
      <output name="getListResponse">
        <wsdlsoap:body use="literal" />
      </output>
    </operation>
    <operation name="getObject">
      <wsdlsoap:operation soapAction="" style="document" />
      <input name="getObjectRequest">
        <wsdlsoap:body use="literal" />
      </input>
      <output name="getObjectResponse">
        <wsdlsoap:body use="literal" />
      </output>
    </operation>
    <operation name="getClassifierNodeList">
      <wsdlsoap:operation soapAction="" style="document" />
      <input name="getClassifierNodeListRequest">
        <wsdlsoap:body use="literal" />
      </input>
      <output name="getClassifierNodeListResponse">
        <wsdlsoap:body use="literal" />
      </output>
    </operation>
    <operation name="getClassifierFullNodeList">
      <wsdlsoap:operation soapAction="" style="document" />
      <input name="getClassifierFullNodeListRequest">
        <wsdlsoap:body use="literal" />
      </input>
      <output name="getClassifierFullNodeListResponse">
        <wsdlsoap:body use="literal" />
      </output>
    </operation>
    <operation name="getClassifierNodeListWithAssociations">
      <wsdlsoap:operation soapAction="" style="document" />
      <input name="getClassifierNodeListWithAssociationsRequest">
        <wsdlsoap:body use="literal" />
      </input>
      <output name="getClassifierNodeListResponse">
        <wsdlsoap:body use="literal" />
      </output>
    </operation>
    <operation name="getClassifierFullNodeListWithAssociations">
      <wsdlsoap:operation soapAction="" style="document" />
      <input name="getClassifierFullNodeListWithAssociationsRequest">
        <wsdlsoap:body use="literal" />
      </input>
      <output name="getClassifierFullNodeListResponse">
        <wsdlsoap:body use="literal" />
      </output>
    </operation>
    <operation name="getClassifierParentNode">
      <wsdlsoap:operation soapAction="" style="document" />
      <input name="getClassifierParentNodeRequest">
        <wsdlsoap:body use="literal" />
      </input>
      <output name="getClassifierParentNodeResponse">
        <wsdlsoap:body use="literal" />
      </output>
    </operation>
    <operation name="getClassifierLevelCount">
      <wsdlsoap:operation soapAction="" style="document" />
      <input name="getClassifierLevelCountRequest">
        <wsdlsoap:body use="literal" />
      </input>
      <output name="getClassifierLevelCountResponse">
        <wsdlsoap:body use="literal" />
      </output>
    </operation>
    <operation name="getAssociatorList">
      <wsdlsoap:operation soapAction="" style="document" />
      <input name="getAssociatorListRequest">
        <wsdlsoap:body use="literal" />
      </input>
      <output name="getAssociatorListResponse">
        <wsdlsoap:body use="literal" />
      </output>
    </operation>
    <operation name="getClassifierListForReference">
      <wsdlsoap:operation soapAction="" style="document" />
      <input name="getClassifierListForReferenceRequest">
        <wsdlsoap:body use="literal" />
      </input>
      <output name="getClassifierListForReferenceResponse">
        <wsdlsoap:body use="literal" />
      </output>
    </operation>
    <operation name="createModel">
      <wsdlsoap:operation soapAction="" style="document" />
      <input name="createModelRequest">
        <wsdlsoap:body use="literal" />
      </input>
      <output name="createModelResponse">
        <wsdlsoap:body use="literal" />
      </output>
    </operation>
    <operation name="deleteModel">
      <wsdlsoap:operation soapAction="" style="document" />
      <input name="deleteModelRequest">
        <wsdlsoap:body use="literal" />
      </input>
      <output name="deleteModelResponse">
        <wsdlsoap:body use="literal" />
      </output>
    </operation>
    <operation name="updateObject">
      <wsdlsoap:operation soapAction="" style="document" />
      <input name="updateObjectRequest">
        <wsdlsoap:body use="literal" />
      </input>
      <output name="updateObjectResponse">
        <wsdlsoap:body use="literal" />
      </output>
    </operation>
    <operation name="createObject">
      <wsdlsoap:operation soapAction="" style="document" />
      <input name="createObjectRequest">
        <wsdlsoap:body use="literal" />
      </input>
      <output name="createObjectResponse">
        <wsdlsoap:body use="literal" />
      </output>
    </operation>
    <operation name="deleteObject">
      <wsdlsoap:operation soapAction="" style="document" />
      <input name="deleteObjectRequest">
        <wsdlsoap:body use="literal" />
      </input>
      <output name="deleteObjectResponse">
        <wsdlsoap:body use="literal" />
      </output>
    </operation>
    <operation name="createAssociator">
      <wsdlsoap:operation soapAction="" style="document" />
      <input name="createAssociatorRequest">
        <wsdlsoap:body use="literal" />
      </input>
      <output name="createAssociatorResponse">
        <wsdlsoap:body use="literal" />
      </output>
    </operation>
    <operation name="importModel">
      <wsdlsoap:operation soapAction="" style="document" />
      <input name="importModelRequest">
        <wsdlsoap:body use="literal" />
      </input>
      <output name="importModelResponse">
        <wsdlsoap:body use="literal" />
      </output>
    </operation>
    <operation name="exportModel">
      <wsdlsoap:operation soapAction="" style="document" />
      <input name="exportModelRequest">
        <wsdlsoap:body use="literal" />
      </input>
      <output name="exportModelResponse">
        <wsdlsoap:body use="literal" />
      </output>
    </operation>
    <operation name="query">
      <wsdlsoap:operation soapAction="" style="document" />
      <input name="queryRequest">
        <wsdlsoap:body use="literal" />
      </input>
      <output name="queryResponse">
        <wsdlsoap:body use="literal" />
      </output>
    </operation>
    <operation name="getRowCount">
      <wsdlsoap:operation soapAction="" style="document" />
      <input name="getRowCountRequest">
        <wsdlsoap:body use="literal" />
      </input>
      <output name="getCountResponse">
        <wsdlsoap:body use="literal" />
      </output>
    </operation>
    <operation name="getUpdateDate">
      <wsdlsoap:operation soapAction="" style="document" />
      <input name="getUpdateDateRequest">
        <wsdlsoap:body use="literal" />
      </input>
      <output name="getUpdateDateResponse">
        <wsdlsoap:body use="literal" />
      </output>
    </operation>
    <operation name="selectRow">
      <wsdlsoap:operation soapAction="" style="document" />
      <input name="selectRowRequest">
        <wsdlsoap:body use="literal" />
      </input>
      <output name="selectRowResponse">
        <wsdlsoap:body use="literal" />
      </output>
    </operation>
    <operation name="operationGrants">
      <wsdlsoap:operation soapAction="" style="document" />
      <input name="operationGrantsRequest">
        <wsdlsoap:body use="literal" />
      </input>
      <output name="operationGrantsResponse">
        <wsdlsoap:body use="literal" />
      </output>
    </operation>
    <operation name="objectGrants">
      <wsdlsoap:operation soapAction="" style="document" />
      <input name="objectGrantsRequest">
        <wsdlsoap:body use="literal" />
      </input>
      <output name="objectGrantsResponse">
        <wsdlsoap:body use="literal" />
      </output>
    </operation>
    <operation name="loadData">
      <wsdlsoap:operation soapAction="" style="document" />
      <input name="loadDataRequest">
        <wsdlsoap:body use="literal" />
      </input>
      <output name="loadDataResponse">
        <wsdlsoap:body use="literal" />
      </output>
    </operation>
    <operation name="insertRow">
      <wsdlsoap:operation soapAction="" style="document" />
      <input name="insertRowRequest">
        <wsdlsoap:body use="literal" />
      </input>
      <output name="insertRowResponse">
        <wsdlsoap:body use="literal" />
      </output>
    </operation>
    <operation name="updateRow">
      <wsdlsoap:operation soapAction="" style="document" />
      <input name="updateRowRequest">
        <wsdlsoap:body use="literal" />
      </input>
      <output name="updateRowResponse">
        <wsdlsoap:body use="literal" />
      </output>
    </operation>
    <operation name="updateData">
      <wsdlsoap:operation soapAction="" style="document" />
      <input name="updateDataRequest">
        <wsdlsoap:body use="literal" />
      </input>
      <output name="updateDataResponse">
        <wsdlsoap:body use="literal" />
      </output>
    </operation>
    <operation name="deleteRow">
      <wsdlsoap:operation soapAction="" style="document" />
      <input name="deleteRowRequest">
        <wsdlsoap:body use="literal" />
      </input>
      <output name="deleteRowResponse">
        <wsdlsoap:body use="literal" />
      </output>
    </operation>
    <operation name="deleteData">
      <wsdlsoap:operation soapAction="" style="document" />
      <input name="deleteDataRequest">
        <wsdlsoap:body use="literal" />
      </input>
      <output name="deleteDataResponse">
        <wsdlsoap:body use="literal" />
      </output>
    </operation>
    <operation name="addChildClassifierNode">
      <wsdlsoap:operation soapAction="" style="document" />
      <input name="addChildClassifierNodeRequest">
        <wsdlsoap:body use="literal" />
      </input>
      <output name="addChildClassifierNodeResponse">
        <wsdlsoap:body use="literal" />
      </output>
    </operation>
    <operation name="updateClassifierNode">
      <wsdlsoap:operation soapAction="" style="document" />
      <input name="updateClassifierNodeRequest">
        <wsdlsoap:body use="literal" />
      </input>
      <output name="updateClassifierNodeResponse">
        <wsdlsoap:body use="literal" />
      </output>
    </operation>
    <operation name="putFile">
      <wsdlsoap:operation soapAction="" style="document" />
      <input name="putFileRequest">
        <wsdlsoap:body use="literal" />
      </input>
      <output name="putFileResponse">
        <wsdlsoap:body use="literal" />
      </output>
    </operation>
    <operation name="removeFile">
      <wsdlsoap:operation soapAction="" style="document" />
      <input name="removeFileRequest">
        <wsdlsoap:body use="literal" />
      </input>
      <output name="removeFileResponse">
        <wsdlsoap:body use="literal" />
      </output>
    </operation>
    <operation name="getFileInfo">
      <wsdlsoap:operation soapAction="" style="document" />
      <input name="getFileInfoRequest">
        <wsdlsoap:body use="literal" />
      </input>
      <output name="getFileInfoResponse">
        <wsdlsoap:body use="literal" />
      </output>
    </operation>
    <operation name="getFileData">
      <wsdlsoap:operation soapAction="" style="document" />
      <input name="getFileDataRequest">
        <wsdlsoap:body use="literal" />
      </input>
      <output name="getFileDataResponse">
        <wsdlsoap:body use="literal" />
      </output>
    </operation>
    <operation name="putEvent">
      <wsdlsoap:operation soapAction="" style="document" />
      <input name="putEventRequest">
        <wsdlsoap:body use="literal" />
      </input>
      <output name="putEventResponse">
        <wsdlsoap:body use="literal" />
      </output>
    </operation>
    <operation name="insertClassifierLevel">
      <wsdlsoap:operation soapAction="" style="document" />
      <input name="insertClassifierLevelRequest">
        <wsdlsoap:body use="literal" />
      </input>
      <output name="insertClassifierLevelResponse">
        <wsdlsoap:body use="literal" />
      </output>
    </operation>
    <operation name="addClassifierAssociation">
      <wsdlsoap:operation soapAction="" style="document" />
      <input name="addClassifierAssociationRequest">
        <wsdlsoap:body use="literal" />
      </input>
      <output name="addClassifierAssociationResponse">
        <wsdlsoap:body use="literal" />
      </output>
    </operation>
    <operation name="deleteClassifierAssociation">
      <wsdlsoap:operation soapAction="" style="document" />
      <input name="deleteClassifierAssociationRequest">
        <wsdlsoap:body use="literal" />
      </input>
      <output name="deleteClassifierAssociationResponse">
        <wsdlsoap:body use="literal" />
      </output>
    </operation>
    <operation name="updateClassifierAssociation">
      <wsdlsoap:operation soapAction="" style="document" />
      <input name="updateClassifierAssociationRequest">
        <wsdlsoap:body use="literal" />
      </input>
      <output name="updateClassifierAssociationResponse">
        <wsdlsoap:body use="literal" />
      </output>
    </operation>
    <operation name="getClassifierPeriods">
      <wsdlsoap:operation soapAction="" style="document" />
      <input name="getClassifierPeriodsRequest">
        <wsdlsoap:body use="literal" />
      </input>
      <output name="getClassifierPeriodsResponse">
        <wsdlsoap:body use="literal" />
      </output>
    </operation>
    <operation name="callXMLProcessor">
      <wsdlsoap:operation soapAction="" style="document" />
      <input name="callXMLProcessorRequest">
        <wsdlsoap:body use="literal" />
      </input>
      <output name="callXMLProcessorResponse">
        <wsdlsoap:body use="literal" />
      </output>
    </operation>
    <operation name="uploadData">
      <wsdlsoap:operation soapAction="" style="document" />
      <input name="uploadDataRequest">
        <wsdlsoap:body use="literal" />
      </input>
      <output name="uploadDataResponse">
        <wsdlsoap:body use="literal" />
      </output>
    </operation>
    <operation name="loadClassifierAssociations">
      <wsdlsoap:operation soapAction="" style="document" />
      <input name="loadClassifierAssociationsRequest">
        <wsdlsoap:body use="literal" />
      </input>
      <output name="loadClassifierAssociationsResponse">
        <wsdlsoap:body use="literal" />
      </output>
    </operation>
    <operation name="deleteClassifierAssociations">
      <wsdlsoap:operation soapAction="" style="document" />
      <input name="deleteClassifierAssociationsRequest">
        <wsdlsoap:body use="literal" />
      </input>
      <output name="deleteClassifierAssociationsResponse">
        <wsdlsoap:body use="literal" />
      </output>
    </operation>
    <operation name="updateFileField">
      <wsdlsoap:operation soapAction="" style="document" />
      <input name="updateFileFieldRequest">
        <wsdlsoap:body use="literal" />
      </input>
      <output name="updateFileFieldResponse">
        <wsdlsoap:body use="literal" />
      </output>
    </operation>
    <operation name="queryFileField">
      <wsdlsoap:operation soapAction="" style="document" />
      <input name="queryFileFieldRequest">
        <wsdlsoap:body use="literal" />
      </input>
      <output name="queryFileFieldResponse">
        <wsdlsoap:body use="literal" />
      </output>
    </operation>
    <operation name="putMetadata">
      <wsdlsoap:operation soapAction="" style="document" />
      <input name="putMetadataRequest">
        <wsdlsoap:body use="literal" />
      </input>
      <output name="putMetadataResponse">
        <wsdlsoap:body use="literal" />
      </output>
    </operation>
    <operation name="getMetadata">
      <wsdlsoap:operation soapAction="" style="document" />
      <input name="getMetadataRequest">
        <wsdlsoap:body use="literal" />
      </input>
      <output name="getMetadataResponse">
        <wsdlsoap:body use="literal" />
      </output>
    </operation>
    <operation name="removeMetadata">
      <wsdlsoap:operation soapAction="" style="document" />
      <input name="removeMetadataRequest">
        <wsdlsoap:body use="literal" />
      </input>
      <output name="removeMetadataResponse">
        <wsdlsoap:body use="literal" />
      </output>
    </operation>
    <operation name="getObjectUI">
      <wsdlsoap:operation soapAction="" style="document" />
      <input name="getObjectUIRequest">
        <wsdlsoap:body use="literal" />
      </input>
      <output name="getObjectUIResponse">
        <wsdlsoap:body use="literal" />
      </output>
    </operation>
    <operation name="getGrants">
      <wsdlsoap:operation soapAction="" style="document" />
      <input name="getGrantsRequest">
        <wsdlsoap:body use="literal" />
      </input>
      <output name="getGrantsResponse">
        <wsdlsoap:body use="literal" />
      </output>
    </operation>
    <operation name="getUserInfo">
      <wsdlsoap:operation soapAction="" style="document" />
      <input name="getUserInfoRequest">
        <wsdlsoap:body use="literal" />
      </input>
      <output name="getUserInfoResponse">
        <wsdlsoap:body use="literal" />
      </output>
    </operation>
    <operation name="getVersion">
      <wsdlsoap:operation soapAction="" style="document" />
      <input name="getVersionRequest">
        <wsdlsoap:body use="literal" />
      </input>
      <output name="getVersionResponse">
        <wsdlsoap:body use="literal" />
      </output>
    </operation>
    <operation name="getBIObjectList">
      <wsdlsoap:operation soapAction="" style="document" />
      <input name="getBIObjectListRequest">
        <wsdlsoap:body use="literal" />
      </input>
      <output name="getBIObjectListResponse">
        <wsdlsoap:body use="literal" />
      </output>
    </operation>
    <operation name="getChildList">
      <wsdlsoap:operation soapAction="" style="document" />
      <input name="getChildListRequest">
        <wsdlsoap:body use="literal" />
      </input>
      <output name="getChildListResponse">
        <wsdlsoap:body use="literal" />
      </output>
    </operation>
    <operation name="setChildList">
      <wsdlsoap:operation soapAction="" style="document" />
      <input name="setChildListRequest">
        <wsdlsoap:body use="literal" />
      </input>
      <output name="setChildListResponse">
        <wsdlsoap:body use="literal" />
      </output>
    </operation>
    <operation name="uploadDataFile">
      <wsdlsoap:operation soapAction="" style="document" />
      <input name="uploadDataFileRequest">
        <wsdlsoap:body use="literal" />
      </input>
      <output name="uploadDataFileResponse">
        <wsdlsoap:body use="literal" />
      </output>
    </operation>
    <operation name="hasMasterPassword">
      <wsdlsoap:operation soapAction="" style="document" />
      <input name="hasMasterPasswordRequest">
        <wsdlsoap:body use="literal" />
      </input>
      <output name="hasMasterPasswordResponse">
        <wsdlsoap:body use="literal" />
      </output>
    </operation>
    <operation name="setMasterPassword">
      <wsdlsoap:operation soapAction="" style="document" />
      <input name="setMasterPasswordRequest">
        <wsdlsoap:body use="literal" />
      </input>
      <output name="setMasterPasswordResponse">
        <wsdlsoap:body use="literal" />
      </output>
    </operation>
    <operation name="uploadDBQuery">
      <wsdlsoap:operation soapAction="" style="document" />
      <input name="uploadDBQueryRequest">
        <wsdlsoap:body use="literal" />
      </input>
      <output name="uploadDBQueryResponse">
        <wsdlsoap:body use="literal" />
      </output>
    </operation>
    <operation name="queryExtendedData">
      <wsdlsoap:operation soapAction="" style="document" />
      <input name="queryExtendedDataRequest">
        <wsdlsoap:body use="literal" />
      </input>
      <output name="queryExtendedDataResponse">
        <wsdlsoap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="SdmxServiceService">
    <port binding="impl:SdmxServiceSoapBinding" name="SdmxService">
      <wsdlsoap:address location="http://isurvey.contourbi.ru/service//services/sdmxservice" />
    </port>
  </service>
</definitions>